<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/transactia_icon192"
        android:label="@string/app_name"
        android:roundIcon="@drawable/transactia_icon192"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transactia"
        tools:targetApi="31">
        <activity
            android:name=".RateTrader"
            android:exported="false" />
        <activity
            android:name=".TransactionsInProgress"
            android:exported="false" />
        <activity
            android:name=".ReviewRequest"
            android:exported="false" />
        <activity
            android:name=".MyRequests"
            android:exported="false" />
        <activity
            android:name=".Traderprofile"
            android:exported="false" />
        <activity
            android:name=".ManageRequest"
            android:exported="false" />
        <activity
            android:name=".ArchiveDetails"
            android:exported="false" />
        <activity
            android:name=".Enduserinfo"
            android:exported="false" />
        <activity
            android:name=".Inbox"
            android:exported="false" />
        <activity
            android:name=".Request"
            android:exported="false" />
        <activity
            android:name=".Archive"
            android:exported="false" />
        <activity
            android:name=".Update_User_Details"
            android:exported="false" />
        <activity
            android:name=".Abou_Transactia"
            android:exported="false" />
        <activity
            android:name=".My_Reports"
            android:exported="false" />
        <activity
            android:name=".Account_Settings"
            android:exported="false" />
        <activity
            android:name=".MyOffers"
            android:exported="false" />
        <activity
            android:name=".MyNeeds"
            android:exported="false" />
        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmEmail"
            android:exported="false" />
        <activity
            android:name=".MainHome"
            android:exported="false" />
        <activity
            android:name=".pfppick"
            android:exported="false" />
        <activity
            android:name=".newpass"
            android:exported="false" />
        <activity
            android:name=".findacc"
            android:exported="false" />
        <activity
            android:name=".withpop"
            android:exported="false" />
        <activity
            android:name=".Mainpage"
            android:exported="false" />
        <activity
            android:name=".UserAccountDetailSignup"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>